body, div, h1, h2, h3, p, ul, ol, li, img, header, section, aside, footer, button, nav, main, article, input {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none; }

.vertical-middle::before, .restArea .droppableBlock::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%; }

.none-select, .btn, .block, .serial {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

body {
  width: 100%;
  height: 100%;
  font-family: "Microsoft JhengHei";
  overflow-x: hidden; }

.workTypeArea {
  position: fixed;
  background: #333333;
  color: white;
  width: 200px;
  height: 100%;
  top: 0; }
  .workTypeArea .workItem {
    padding: 3px; }
    .workTypeArea .workItem:hover {
      cursor: pointer; }
    .workTypeArea .workItem:hover > .aliasPopUp {
      display: block;
      opacity: 1; }
  .workTypeArea .aliasPopUp {
    display: none;
    opacity: 0;
    margin-left: 10px;
    margin-top: 10px; }

.area-content {
  margin: 10px 0px 5px 20px; }

.restArea {
  margin-left: 220px;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 750px; }
  .restArea .droppableBlock {
    display: inline-block;
    border: 2px dashed gray;
    padding: 5px 0 5px 0;
    margin: 5px 0 5px 0;
    width: 360px; }
  .restArea .remarkBlock {
    border: 2px dashed orange; }
  .restArea .restPopUp {
    display: block;
    margin-top: -45px; }

.workFormArea {
  margin-left: 220px;
  width: 750px;
  margin-bottom: 100px; }
  .workFormArea .serialDroppable {
    width: 100%;
    border: 2px dashed gray; }
  .workFormArea .output {
    padding: 10px;
    background: #ffdb87;
    color: #363535;
    font-size: 8px;
    border-radius: 5px; }
  .workFormArea td {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0; }
  .workFormArea .outputAfter {
    margin: 5px;
    color: maroon; }
    .workFormArea .outputAfter ul li {
      list-style-type: circle; }
  .workFormArea .remarkArea textarea {
    width: 750px;
    height: 150px;
    font-size: 14px; }

.analysisArea {
  position: fixed;
  background: #333333;
  color: white;
  width: 200px;
  height: 100%;
  right: 0;
  top: 0; }
  .analysisArea .dateChoose input {
    padding: 5px;
    margin: 0 5px 5px 0;
    width: 50px;
    font-size: 18px;
    border-radius: 2px; }

.btn {
  display: inline-block;
  padding: 8px 12px 8px 12px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px; }

.red {
  color: red; }

.bck-gray {
  background: gray;
  color: white; }

.bck-lightGray {
  background: #b3b3b3;
  color: white; }

.bck-green {
  background: green;
  color: white; }

.bck-red {
  background: red;
  color: white; }

.bck-red-hover:hover {
  background: #ff6666;
  color: white; }

.bck-orange {
  background: #ff9e00;
  color: white; }

.bck-blue {
  background: blue;
  color: white; }

.bck-olive {
  background: olive;
  color: white; }

.bck-navy {
  background: navy;
  color: white; }

.bck-maroon {
  background: maroon;
  color: white; }

.bck-black {
  background: #313131;
  color: white; }

.bck-white {
  background: #e3e3e3;
  color: #313131; }

.bck-white-hover:hover {
  background: white; }

.block {
  display: inline-block;
  width: 22px;
  height: 22px;
  cursor: pointer;
  font-size: 13px;
  line-height: 22px;
  text-align: center;
  border-radius: 2px; }
  .block:hover {
    background: #00588b; }

.serial {
  width: 22px;
  height: 22px;
  cursor: pointer;
  font-size: 13px;
  line-height: 22px;
  text-align: center;
  border-radius: 2px; }
  .serial:hover {
    background: #00588b; }

.serialBlock {
  display: inline-block;
  width: 40px;
  height: 30px;
  background: black; }

.focus, .workTypeArea .workItem:hover {
  background: #c98900;
  color: white; }

.aliasFocus {
  display: inline-block;
  background: #7b0000;
  color: white; }

.popUp {
  position: absolute;
  z-index: 1;
  padding: 1px 3px 1px 3px;
  background: red;
  color: white;
  border-radius: 3px;
  opacity: 0.95;
  white-space: nowrap; }

.rest1Block {
  opacity: 0.6;
  border-bottom: 4px solid blue; }
  .rest1Block:hover {
    cursor: default; }

*[data-drag=false] {
  opacity: 0.6; }
  *[data-drag=false]:hover {
    cursor: default; }

.storeArea input {
  height: 20px;
  width: 100px;
  margin-bottom: 5px; }
